/*
Por favor busque su propia fuente en Google Fonts
*/

@import url("https://fonts.googleapis.com/css2? family = Roboto: wght @ 500 & display = swap");

/*
Modifique un mínimo de tres variables dentro de :root{} 
Para seleccionarlas, revise: https://getbootstrap.com/docs/5.1/customize/css-variables/
*/

:root {
    --bs-body-font-family: "Roboto", sans-serif;
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 300;
}


h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 900;
}


#fondo-con-imagen {
    height: 70vh;
    background-image: url("img/urbano.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


